$main-background-color: #ffffff;
$main-color-text: #212121;
$second-color-text: #757575;
$main-font-family: Roboto;
$main-font-size: 26px;
$main-color-text-darkbackground: #ffffff;
$card-set-gap: 30px;
